.box1 {
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 370px;
  overflow-y: scroll;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.1);
}

.box1:hover {
  box-shadow: 2px 2px 5px 6px rgba(0, 0, 0, 0.1);
}

.box1 h1 {
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 20px;
}

.Subject {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
  padding: 15px;
  border-radius: 10px;
  font-size: 0.9em;
  font-weight: 600;
  color: gray;
}
.Subject:hover {
  box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.1);
}

.Subject h2 {
  font-size: 1.4em;
  color: black;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
}

.timing1 p {
  margin: 0;
}
